<%= render('layouts/errors', :object => comment) %>

<%= form_for([@comment]) do |f| %>

    <div class="form-group">
      <%= hidden_field_tag "parent_comment_id", comment.id %>
      <%= hidden_field_tag "article_id", article.id %>
      <%= hidden_field_tag "user_id", current_user.id %>
      <%= f.label :text %>
      <%= f.text_field :text, :class => "form-control" %>
    </div>
    <%= f.submit(:class => "btn btn-primary") %>
<% end %>
