<h3><a href = "<%=@article.link%>"><%=@article.title%></a></h3>
<div class="col-md-6">
  <div class="row">
    <h4>Add a Comment</h4>
    <%= render ('comments/form') %>
  </div>
  <div class="row">
    <% @article.comments.each do |comment| %>
      <div class="comment" style="background-color:#eee; border-radius:5px;"><p><%= comment.text %></p></div>
      <%=link_to "Edit Comment", edit_article_comment_path(@article, comment), :class => "btn btn-xs btn-warning" %>
      <%=link_to "Delete Comment", article_comment_path(@article, comment), data: {method: "delete"}, :class => "btn btn-xs btn-danger" %>
    <% end %>
  </div>
</div>
