<h3><a href = "<%=@article.link%>"><%=@article.title%></a></h3>
<div class="col-md-6">
  <div class="row">
    <p><%= @article.content %></p>
  </div>
  <div class="row">
    <p><%= link_to "Delete Article", article_path, data:{:method => "delete"}, :class => "btn btn-danger btn-xs" %></p>
  </div>
  <div class="row">
    <h4>Add a Comment</h4>
    <%= render ('comments/form') %>
  </div>
  <div class="row">
  <h4>Comments</h4>
    <%=render 'comments/com_show'%>
  </div>
</div>
