<!DOCTYPE html>
<html>
<head>
  <title>Hacker News</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>

  <div id="notice" style="background: green; color: white; text-align:center;">
    <%= flash[:notice] %>
  </div>
  <% if flash[:alert] %>
  <div id="alert" style="background: red; color: white; text-align:center;">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <div class="container">
    <%= render '/sessions/login' %>
    <h1><a href="/">Hacker News Clone</a></h1>
    <%= yield %>
  </div>
</body>
</html>
